block vars
doctype html
html
    head
        title Registro Paquetes | #{tittle}
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/estilos.css', rel='stylesheet')
    body(id="zumbar")
        block body
        script(src='js/jquery.js')
        script(src='js/bootstrap.min.js')
        script(src='js/ion.sound.min.js')
        script(src='js/main.js')